 
        .image{
            
 
       
            
            transition-property: all;
            transition-duration: 800ms;        
        }
        .image:hover{
            transform: rotate(360deg);
            filter: grayscale(0%);   


        }